body {
    border: 1px solid #D1D1D1;
    color: #636363;
    font-family: Lato;
    height: auto;
    max-width: 1120px;
    margin: auto;
    margin-bottom: 50px;

    -moz-box-shadow:    0 0 1px 1.5px #D1D1D1;
    -webkit-box-shadow: 0 0 1px 1.5px #D1D1D1;
    box-shadow:         0 0 1px 1.5px #D1D1D1;
}

html {
    box-sizing: border-box;
    font-weight: lighter;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding-bottom: 0;
    position: absolute;
    width: 1px;
}

.group::after {
    clear: both;
    content: '';
    display: block;
    }

header, main {
    background-color: #FFFFFF;
/*    margin-top: -3em;*/
    opacity: .92;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

/*
#column1, #column2 {
    margin-top: 3em;
}
*/

.sample {
}

#name {
    font-size: 2.6em;
    margin-bottom: -.3em;
    padding-top: 1.3em;
}

.email, .headings, .websites, .star {
    color: #1cbbb4;
    opacity: .7;
}

h3 {
    font-size: 1.6em;
    font-weight: lighter;
    margin-top: .8em;
    margin-bottom: -.55em;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li a {
    text-decoration: none;
}

li a:hover {
    opacity: .6;
}

p.para {
    margin-bottom: -.5em;
    }

p.education {
    margin-top: -.1em;
}

li {
    margin-top: .4em;
}

ul li.edu {
    margin-top: -.3em;
}

.quals {
    font-weight: bold;
}

.list {
    margin-top: -1em;
}

.items {
    margin-top: -.00001em;
}

#work {
    font-size: 1.18em;
    margin-bottom: -.5em;
}

.workstuff {
    margin-top: -.8em;
}

.italics {
    font-style: italic;
}

span.star:before {
    content: "\2605";
    opacity: .6;
    position: absolute;
}

@media all and (min-width: 560px) {
    body {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .headerClass {
    display: inline-block;
    }
    #header1 {
    float: left;
    }
    #header2 {
    float: right;
    vertical-align: middle;
    }
    #column1 {
        float: left;
        padding-left: 35px;
        padding-right: 10px;
        width: 50%;
    }
     #column2 {
        border-left: 1px solid #1cbbb4;
        float: right;
        padding-bottom: 5px;
        padding-left: 35px;
        padding-right: 30px;
        width: 50%;
    }
    header {
        padding-left: 55px;
        padding-bottom: 25px;
    }
    main {
        padding-bottom: 60px
    }
    #name {
        font-size: 3em;
    }
    #languages {
        margin-top: -.9em;
    }
}

@media all and (min-width: 400px) {
    .skills {
        display: inline-block;
        padding: 0 20px 0 0;
    }
}

@media all and (min-width: 1500px) {
    body {
        margin-top: 90px;
        margin-bottom: 90px;
    }
}

/*TURNBOX jQuery*/
.sample {
    background-color: #1cbbb4;
    border-top: 1px solid #D1D1D1;
    opacity: .6;
    margin-right: 60px;
    text-align: center;
}

.message {
    background-color: #1cbbb4;
    padding-bottom: 25px;
    padding-left: 6px;
    padding-right: 6px;
}
